* {
    margin:auto;
}

body {
    background-color: #ffffcc;
    font-size: large;
    height: 100%;
    width: 100%;
}

h1 {
    font-family:Arial, Helvetica, sans-serif;
    margin: 30px;
    text-align: center;
}


input {                        /*no muestra el botón de menu */
    display: none;     
}
label {                       /*no muestra la etiqueta ☰ */
    display:none;
}
li:hover {                        /*determina la propiedad de cada botón cuando se posiciona encima*/
    filter: brightness(110%);
}

nav ul {
    background-color: #6097c4;
    padding: 10px;
    display: flex;
    justify-content: center;
    list-style-type: none;
    flex-wrap: wrap;
}

ul li {
    width: 160px;
    height: 22px;
    background:#ffffcc;
    margin: 10px;
    padding: 5px;
    text-align: center;
    cursor: pointer;
}

ul li a {
    color: black;
    text-decoration: none;
}



.main1 {
    justify-content:center;
    display: flex;
    flex-wrap: wrap;
    border-radius: 44px; 
    border: solid 5px; 
    margin: 10%;
}

.div-texto1 {
    width: auto;
    height: auto;
    border-radius: 64px;
    padding: 20px;
    left: 20%;
    top: 50%;
    flex-wrap: wrap;
}

.categoria{
    font-family:'Arial, Helvetica, sans-serif';
    font-weight: bold;
    font-size: 16px;
    line-height: 17px;
}


p {
    text-align: center;

}

/*pagina 2*/
.div-all {
    width: auto;
    justify-content:space-evenly;
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
}

.main2 {
    width: 17%;
    justify-content:center;
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
}

.div-img {
    width: 70%; 
    height: 70%;
    border-radius:64px; 
    border: solid 5px; 
    margin: 20px; 
    padding: 10px; 
    flex-wrap: wrap
}

img {
    width: 100%;
    height: 100%;
    border-radius: 64px;
}

.div-texto2{
    text-align: center;
    width: 90%;
    height: auto;
    border-radius: 64px;
    padding: 20px;
    left: 20%;
    top: 50%;
    flex-wrap: wrap;
}



.footer1 {
    position: absolute;
}

footer {
    background-color: #6097c4;
    bottom: 0;
    color:white;
    padding: 35px;
    text-align: center;
    height: auto;
    width: 100%;
    box-sizing: border-box;
    position: absolute;
}


@media all and (max-width: 970px) {  /*cuando el dispositivo es como máximo de 700px*/


    nav ul {
        display: none;
        background-color: #6097c4;
    }
    
    input:checked  ~ ul{   /*muestra todas el contenido de todas las etiquetas ul */
        display:block;
        background-color: #6097c4;
    }
      
    input:checked ~ label {   /*muestra todo el contenido de todas las etiquetas label */
        background: lightgrey; 
    }
      
    label:hover{                /*cambia el color de ☰ */
        background: grey;
        background-color: #6097c4;
        width: 100%;
        height: 20%;
    }
    
    li{                         /*elimina el margen  de cada botón */
        margin: 0px;
        text-align: center;
    }
    
    label {                      /* dibuja la etiqueta ☰  con formato botón */
        box-sizing: border-box;
        display: block;
        width: 100%;
        height: 40px;
        line-height: 40px;
        font-weight: bold;
        text-align: center;
        user-select: none;
        background-color:#6097c4;
        color: white;
    }
    
    ul{                          /*deja de mostrar el bloque contenedor de los botones horizontales */
        display: none;
        background-color:white;
        width: 100%;

    }
     /*para que se alarga el menu cuando lo abramos
    ul li{
        width: auto;
    }
    */
    
    ul li a{
        text-decoration: none;
        color: black;   
    }
    
    ul li a:hover{
        color:#7bffff;
    }
    
    footer{
        position: relative;
    }
    
    }


@media (max-width:800px){
    .div-all{
        width: auto;
        justify-content:space-evenly;
        display: flex;
        flex-wrap: wrap;
        margin: 0px;
        padding: 10px;
    }

    .main2 {
        width: 30%;
        height: 30%;
        justify-content:center;
        display: flex;
        flex-wrap: wrap;
        padding: 30px;
        margin: 0px;
    }

    .div-img {
        width: 100%; 
        height: 210px;
        padding: 10px; 
        display: block;
        flex-wrap: wrap;
        margin: 20px;
    }

    img {
        width:100%;
        height: 100%;
    }


    .div-texto2{
        flex-wrap: wrap;
        margin: 50px;
        width: 100% ;
        padding: 20px;
        left: 376px;
        top: 310px;
    }

    .footer1 {
        position:relative;
    }
}



@media (max-width:565px){  
    h1{
        font-size: 20px;
        margin: 30px;
    }

    .div-all{
        width: auto;
        justify-content:space-evenly;
        display: flex;
        flex-wrap: wrap;
        margin: 0px;
        padding: 10px;
    }

    .main2 {
        width: 100%;
        height: 100%;
        justify-content:center;
        display: flex;
        flex-wrap: wrap;
        padding: 130px;
        margin: 0px;
    }

    .div-img {
        width: 100%; 
        height: 100%;
        padding: 10px; 
        display: block;
        flex-wrap: wrap;
        margin: 20px;
    }

    img {
        width:100%;
        height: auto;
    }


    .div-texto2{
        flex-wrap: wrap;
        margin: 50px;
        width: 100% ;
        padding: 20px;
        left: 376px;
        top: 310px;
    }

    
    .footer1 {
        position:relative;
    }
}