body{
  margin: 0;
  padding: 0;
   overflow: hidden;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
  visibility: collapse;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
  position: relative;
}
#hamburguesa{
    position: absolute;
    top: 17px;
    left: 8px;
    width: 100%;
    z-index: 20;
}



.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #FFF3E2;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 0.1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: "";
  margin-top: -8px;
}

.menu-button::after {
  content: "";
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}


@media(max-width:730px)
    {
        .Hbtn-info{
            display: flex;
             align-items: center;
            justify-content: center;
            width: 100%;
        }


       .header{
        height: 30px;
        width: 100%;
      }

      footer{
        width: 100%;
      }
        #botones{
            visibility: collapse;
        }
        .btn-info{
            visibility: collapse;

        }


        .menu-button-container {
        display: flex;
        }

      .menu {
        position: absolute;
        top: -30px;
        margin-top: 50px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
      }

          #menu-toggle ~ .menu li {
            height: 0;
            margin: 0;
            padding: 0;
            border: 0;
            transition: height 400ms cubic-bezier(0.23, 0.1, 0.32, 1);
            visibility: visible;

          }

          #menu-toggle:checked ~ .menu li {
            border: 1px solid #333;
            height: 2.5em;
            padding: 0.5em;
            transition: height 400ms cubic-bezier(0.23, 0.1, 0.32, 1);
            width: 100%;
          }

          .menu > li {
            display: flex;
            justify-content: center;
            margin: 0;
            padding: 0.5em 0;
            width: 100%;
            color: white;
            background-color: #0E0E0E;
            z-index: 10;
          }

          .menu > li:not(:last-child) {
            border-bottom: 1px solid #444;
          }
    
}



a:link {text-decoration: none;
    color: #FFF3E2;
font-size: 20px;
}
a:visited {text-decoration: none;
    color: #e88307 ;

}
a:hover {text-decoration: none;
    color: #FFF3E2}
a:active {text-decoration: none;
    color: #FFF3E2;
}
a{text-decoration: none;
    color: #FFF3E2;
    font-size: 20px;
}

    header{
        height: 15%;
        z-index:  10;

}


    #botones{
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0%);
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: wrap;
      z-index: 10;

    }

    .btn-info{
        border-radius: 15px;
        margin-inline: 5%;
        height: 40px;
        width: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
           margin: 30px;
        margin-top: 20px;
        background: rgba(255, 25, 5, 0);
        z-index: 20;
    }

    .btn-info:hover {
      background: rgba(255, 25, 5, 0.4);
    }
    /*  */

.portada {
    position: relative;
    background-color: black;
    height: 75vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
    top: 0%;
  }
  
  .display-3{
  position: absolute;
  top: 120px;
  left: 50%;
  transform: translate(-50%, 100%);
  color: #FFF3E2;
  font-size: 300%;
  }

  #subtitulo{
    color: #FFF3E2;
    position: absolute;
  top: 200px;
  left: 50%;
  transform: translate(-50%, 100%);
  font-size: 250%;

  }
  .portada video {
    position: absolute;
    top: 35%;
    left: 50%;
  
    width: 100vw;
    height: 100vh;
    z-index: 0;

    opacity: 0.2;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  .portada .container {
    position: relative;
    z-index: 2;
  }
  /*
  .portada .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    
    z-index: 0;
  }*/
  
  /* Media Query for devices withi coarse pointers and no hover functionality */
  
  /* This will use a fallback image instead of a video for devices that commonly do not support the HTML5 video element */
  
  @media (pointer: coarse) and (hover: none) {
    .portada {
     /* background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;*/
    }
  
    .portada video {
      display: none;
    }
  }

  @media(max-width:686px){


.display-3{
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translate(-50%, 100%);
  color: white;
  font-size: 300%;
  }


      #subtitulo{
    color: white;
    position: absolute;
  top: 210px;
  left: 50%;
  transform: translate(-50%, 100%);
  }


  }